
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

	<link rel="stylesheet" type="text/css" href="{% static 'product/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'product/css/blog-post.css' %}" />

</head>

<body>
	{% load blog_template %}

    <!----------------- Navigation  Start---------------------->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'product-home' %}">Fiverr Project</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
       
    </nav>  <!---------------------- Navigation end -------------------- -->

    <!---------------------------- Page Content ----------------------- -->
    <div class="container">
		<div class="row">
            <div class="col-lg-8">
					{% block content %}{% endblock %}
			</div>
	<!----------------------- Sidebar ----------------------->
            <div class="col-md-4">
                <div class="well">
                    <h4>Blog Categories</h4>
                     {% get_sidebar %}
                </div>
		</div>
	</div>
		
        <hr>
   </div>
        <!-- -------------Footer ------------>

    
    
            <div class="container">
                
                    <p>Copyright &copy; Your Website 2014</p>
                
            </div>
  



 
    <!-- /.container -->

    <!-- jQuery -->
    <script src="product/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="product/js/bootstrap.min.js"></script>

</body>

</html>
